@import url('./reset.css');

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(230 226 196);
}

.center {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.wrapper {
	border: 0.5em solid black;
	border-radius: 4em;
	width: 55vw;
	margin: 0 auto;
	background-color: tomato;
}

.slider {
	margin: 0 auto;
	width: 50vw;
	display: grid;
	height: 65vh;
	overflow: hidden;
	align-content: center;
}

.wrapper__sliders {
	width: 500vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 2vh;
}

.sliders {
	display: flex;
	align-items: center;
}

.slide {
	display: flex;
	width: 50vw;
	/* height: 50vh; */
	flex-direction: column;
	align-items: center;
	border-radius: 2em;
	/* border: 0.3em solid yellow; */
	overflow: hidden;
	transition: 1s;
}

.img {
	display: block;
	margin: 0 auto;
	width: 45vw;
	/* height: 100%; */
	max-height: 50vh;
	/* max-width: 604px; */
	object-fit: contain;

}

input[name="r"] {
	display: none;
}

.navigation {
	width: 50vw;
	display: flex;
	justify-content: center;
}

.bar {
	width: 30px;
	height: 8px;
	margin: 6px;
	cursor: pointer;
	background-color: #000;
	opacity: .5;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.bar:hover {
	opacity: 1;
	transform: scale(1.1);
}

.block__text {
	height: 5vh;
	display: flex;
	font-family: cursive;
	font-weight: 700;
	text-align: center;
}

.block {
	width: 50vw;
	display: flex;
	flex-direction: column;
	row-gap: 1vh;
	align-items: center;
	transition: 1s;
}

.block p {
	font-size: 1.2em;
}

#r1:checked~.sliders>.s1 {
	margin-left: 0vw;
}

#r2:checked~.sliders>.s1 {
	margin-left: -50vw;
}

#r3:checked~.sliders>.s1 {
	margin-left: -100vw;
}

#r4:checked~.sliders>.s1 {
	margin-left: -150vw;
}

#r5:checked~.sliders>.s1 {
	margin-left: -200vw;
}

#r1:checked~.block__text>.s1 {
	margin-left: 0vw;
}

#r2:checked~.block__text>.s1 {
	margin-left: -50vw;
}

#r3:checked~.block__text>.s1 {
	margin-left: -100vw;
}

#r4:checked~.block__text>.s1 {
	margin-left: -150vw;
}

#r5:checked~.block__text>.s1 {
	margin-left: -200vw;
}